#div1{
    color: blueviolet;
    border: pink 0.5px solid;
    text-align: center;
}
#div2{
    color: black;
    border: purple 0.5px solid;
    text-align: center;
}
#div3{
    color: black;
    border: green 0.5px solid;
    text-align: center;
    width: 25%;
}
#div4{
    color: black;
    border:  gray 0.5px solid; 
    text-align: center;
    width: 65%;
    float:right; 
    display: block;

}
#div5{
    color: black;
    border: lightskyblue 0.5px solid;
    text-align: center;
    width: 25%;
    margin-top: 10px;
}
#div6{
    color: black;
    border: purple 0.5px solid;
    text-align: center;
    width: 65%; float: right;
}
#div7{
    color: black; 
    border: red 0.5px solid; 
    text-align: center;
    width: 25%; float: left;
    margin-top: 10px;
}